.notificationWrapper {
  position: relative;
  padding: 20px 100px;
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
  overflow: hidden;
  background-color: var(--white-smoke-color);
  transition:
    grid-template-rows 0.3s ease,
    padding 0.3s ease;

  &.close {
    padding: 0 100px;
    grid-template-rows: 0fr;
  }
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  min-height: 0;

  .message {
    padding: 8px 0 8px 30px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.005px;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px auto;
    background-clip: padding-box;
    background-image: url('./images/info-icon.svg');
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 240px;
  }
}

.closeButton {
  position: absolute;
  background-image: url('./images/close-icon.svg');
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  right: 16px;
  top: 16px;
  transition: 0.3s;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: var(--grey-light-color);
  }

  &:not(:disabled):active {
    transform: translateY(1px);
  }
}
