:root {
  --white-color: #ffffff;
  --white-smoke-color: #f9f9f9;

  --grey-color: #898989;
  --grey-dark-color: #42434b;

  --black-light-color: #1f1f1f;
  --black-color: #000c1a;
  --blue-dark-color: #00274f;
  --red-color: #e10d34;
  /* --red-crimson-color: #e4003a; */
  /* --yellow-cumulus-color: #f5f3c5;
  --yellow-primrose-color: #e7e49a; */

  --font-s: 10px/16px var(--font-manrope);
  --font-m: 12px/22px var(--font-manrope);
  /* --font-m-bold: 12px/24px var(--font-manrope); */
  --font-l: 14px/24px var(--font-manrope);
  /* --font-l-bold: 10px/16px var(--font-manrope); */
  --font-xl: 14px/24px var(--font-manrope);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-manrope);
  font-size: 14px;
  line-height: 24px;
}

a {
  /* color: inherit; */
  color: var(--red-color);
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-family: var(--font-manrope);
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0em;
}

/* h2 {
  font-size: 16px;
} */

h3 {
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
}

p.bold {
  font-weight: 600;
}

p.comment {
  font-size: 12px;
}

.ddd {
  font: var(--font-s);
}
