.keyIndicators {
  padding: 0 100px;
  margin: 0 0 60px;
  width: 100%;
  overflow: hidden;
}

.title {
  margin: 0 0 30px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 600;
  color: var(--grey-dark-color);
}

.navigate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // align-items: flex-end;
  margin: 0 0 10px;
}

.tabs {
  display: flex;

  .tab {
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 0;
    padding: 8px 16px;
    min-width: 144px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.5%;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid var(--grey-light-color);
    color: var(--grey-dark-color);
    background-color: var(--white-color);

    &.active {
      color: var(--white-color);
      border-color: var(--red-color);
      background-color: var(--red-color);

      .icon {
        background-color: var(--white-color);
      }
    }

    &.team {
      border-radius: 12px 0 0 12px;
    }

    &.skills {
      border-radius: 0 12px 12px 0;
    }

    .icon {
      display: inline-block;
      width: 24px;
      height: 24px;
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: 24px auto;
      background-color: var(--grey-dark-color);

      &.iconTeam {
        mask-image: url('./images/users-three-white.svg');
      }

      &.iconSkills {
        mask-image: url('./images/pencil-ruler-white.svg');
      }
    }
  }
}

.link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0.5%;
  padding-right: 24px;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px auto;
  background-clip: padding-box;
  background-image: url('./images/external-link.svg');

  &:hover {
    text-decoration: underline;
  }
}
