.header {
  margin: 0 0 10px;
}

.recommended {
  display: flex;
  gap: 5px;

  // .userList {
  //   background-color: #fcc;
  // }

  .listHeader {
    font-size: 12px;
    line-height: 22px;
    color: var(--grey-dark-color);
  }
}

.tagList {
  margin: 0 0 20px;
}

.contentWrapper {
  display: flex;
  gap: 10px;
  margin: 0 0 20px;

  .previewImage {
    width: 210px;
    height: 110px;
  }

  .description {
    font-size: 12px;
    line-height: 22px;
    color: var(--black-color);
  }
}
